[submodule "backend/easylearn_books_be"]
	path = backend/easylearn_books_be
	url = https://github.com/nicugnm/easylearn_books_be.git
[submodule "backend/easylearn_data_manager"]
	path = backend/easylearn_data_manager
	url = https://github.com/nicugnm/easylearn_data_manager.git
